<div class="fixed flex justify-center place-items-center top-0 bg-black/80 w-screen h-screen">
    <div class="flex flex-row w-10/12 md:w-2/3 min-h-2/3 h-max opacity-100 bg-gray-100 rounded-lg justify-center">
        <div class="w-full my-10 ml-20">
            <div class="w-full my-5">
                <div class="text-sm font-bold text-gray-700 tracking-wide">Subject Name</div>
                <input [(ngModel)]="title"
                    class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
                    type="text" placeholder="Title">
            </div>
            <div class="w-full my-5">
                <div class="text-sm font-bold text-gray-700 tracking-wide">Banner Image</div>
                <input [(ngModel)]="banner_img"
                    class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
                    type="text" placeholder="Paste image link here">
            </div>
            <div class="w-full my-5">
                <div class="text-sm font-bold text-gray-700 tracking-wide">Description</div>
                <textarea rows="6" [(ngModel)]="description"
                    class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500"
                    placeholder="Description"></textarea>
            </div>
            <div class="my-5 mb-15 flex flex-col place-items-center">
                <button (click)="onSubmit()" class="bg-indigo-500 text-gray-100 p-4 w-fit rounded-full tracking-wide
            font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
            shadow-lg">
                    Submit
                </button>
            </div>
        </div>
        <div (click)="triggerClose()" class="cursor-pointer">
            <svg class="m-5" width="24" height="24" viewBox="0 0 24 24">
                <path fill="black" d="M12.7,12l6.6,6.6l-0.7,0.7L12,12.7l-6.6,6.6l-0.7-0.7l6.6-6.6L4.6,5.4l0.7-0.7l6.6,6.6l6.6-6.6l0.7,0.7L12.7,12z"></path>
        
            </svg>
        </div>
    </div>
</div>