<section class="text-gray-900 body-font m-10 ">
    <h2 class="text-center text-2xl">
        {{courseName | uppercase}}</h2>
    <div class="flex flex-wrap m-4">
        <div class="p-4 w-full md:w-1/2" *ngFor="let subject of subjects;index as i">
            <div class="shadow-2xl h-full border-2 border-gray-200 border-opacity-60 rounded-lg ">
                <img class="h-48 cursor-pointer md:h-24 w-full rounded-tl-lg rounded-tr-lg object-cover object-center "
                    [src]="subject['banner_img']" alt="blog" (click)="onSelect(subject)">
                <div class="p-6">
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">
                        {{subject["category"]}}</h2>
                    <div class="flex flex-row justify-between">
                        <h1 (click)="onSelect(subject)"
                            class="title-font text-lg font-medium text-gray-900 mb-3  cursor-pointer hover:underline">
                            {{subject["name"]}}</h1>
                        <div>
                            <button *ngIf="!isEnrolled(subject['nano_id'])" (click)="onEnroll(i)"
                                class="rounded-3xl px-5 py-1 bg-blue-300">Enroll</button>
                            <button *ngIf="isEnrolled(subject['nano_id'])" (click)="unEnroll(i)"
                                class=" rounded-3xl px-5 py-1 bg-red-200">Enrolled</button>
                        </div>
                    </div>
                    <p class="leading-relaxed font-regular text-sm mb-3">{{subject["description"]}}</p>
                    <div class="flex items-center flex-wrap ">
                        <span
                            class="text-gray-400 mr-3 inline-flex items-center h-fit ml-auto text-xs pr-3 py-1 border-r-2 border-gray-200">
                            {{subject["teacher"]}}
                        </span>
                    </div>
                    <div class="flex flex-wrap md:grid-cols-2 grid-flow-dense p-1 auto-cols-auto place-items-center">
                        <div *ngFor="let unit of subject['units'];index as j" class=" ...">

                            <div class=" xs:w-1/2 md:2/3 w-full ">
                                <div class="bg-gray-50 w-max rounded flex p-2  h-full rounded-full cursor-pointer ">
                                    <span (click)="onUnitSelect(i,j)"
                                        class=" hover:underline focus:outline-none focus:ring focus:ring-violet-300 ... title-font font-xsall">
                                        Unit {{j+1}}: {{unit['name']}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>