<!-- The header of the main page -->
<div class="shadow-xl text-gray-600 body-font  w-full">
    <div class="w-full mx-auto flex w-full p-5 flex-row md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 justify-between w-full md:w-fit mb-4 md:mb-0">
            <svg routerLink="" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span routerLink="" class="ml-3 text-xl">Nawal Academy</span>
            <img (click)="toggleMenu()" class=" h-10 md:hidden cursor-pointer"
                src="../../../assets/icons/hamburger.svg" />
        </a>
        <nav class="hidden md:flex lg:flex md:ml-auto flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900">
                <div class="p-4">
                    <!-- <app-dropdown></app-dropdown>
                    <router-outlet></router-outlet> -->
                </div>
            </a>
            <a class="mr-5 hover:text-gray-900" routerLink="courses">Courses</a>
            <a class="mr-5 hover:text-gray-900" routerLink="contact">Contact Us</a>
            <a class="mr-5 hover:text-gray-900" routerLink="about">About us</a>
            <div *ngIf="notloggedIn" class="flex space-x-4">
                <div class="login">
                    <button
                        class="flex-shrink-0 text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded-2xl text-lg mt-10 sm:mt-0"
                        routerLink="login">Login</button>
                </div>

                <div class="signup">
                    <button
                        class="flex-shrink-0 text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded-2xl text-lg mt-10 sm:mt-0"
                        routerLink="signup">Signup</button>
                </div>
            </div>
            <div *ngIf="!notloggedIn" class="flex space-x-4">
                <div class="logout">
                    <button (click)="logout()"
                        class="flex-shrink-0 text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded-2xl text-lg mt-10 sm:mt-0">Logout</button>
                </div>
            </div>
        </nav>


    </div>
    <div *ngIf="menu">
        <div (click)="toggleMenu()" class="flex flex-col border-2 w-full flex md:hidden lg:hidden">
            <a class="hover:text-gray-900 px-2 py-1 border-y-2 text-center border-white hover:bg-gray-200"
                routerLink="courses">Courses</a>
            <a class="hover:text-gray-900 px-2  py-1 border-y-2 text-center border-white hover:bg-gray-200"
                routerLink="contact">Contact
                Us</a>
            <a class="hover:text-gray-900 px-2  py-1 border-y-2 text-center border-white hover:bg-gray-200"
                routerLink="about">About
                us</a>
            <a *ngIf="!notloggedIn" class="hover:text-gray-900 px-2  py-1 border-y-2 text-center border-white hover:bg-gray-200"
                (click)="logout()">Logout</a>
            <a *ngIf="notloggedIn" class="hover:text-gray-900 px-2  py-1 border-y-2 text-center border-white hover:bg-gray-200"
                routerLink="login">Login</a>
            <a *ngIf="notloggedIn" class="hover:text-gray-900 px-2  py-1 border-y-2 text-center border-white hover:bg-gray-200"
                routerLink="signup">Register</a>
        </div>
    </div>
</div>